body {
  background-color: #526f50;
  color: #86a5a9;
}

/*Navigation Bar */
nav {
  padding: 20px;
}

nav ul {
  padding-left: 0;
  padding-top: 45px;
  margin: 0;
}

nav a {
  text-decoration: none;
  transition: all 200ms ease-in-out;
  color: #fdffe0;
}

nav li {
  list-style: none;
  display: inline;
  margin-left: 45px;
  line-height: 45px;
}

nav h2 {
  font-weight: 400;
  font-size: 35px;
  text-align: center;
}

nav li.active a,
nav a:hover {
  color: #b9a066;
}

/* Homepage */
h1 {
  font-size: 60px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  color: #b9a066;
}

h2 {
  font-size: 25px;
  margin-top: 25px;
}

h2,
h3,
h4,
h5,
h6 {
  color: #fdffe0;
  text-transform: capitalize;
}

form {
  margin: 25px 0px;
}

footer {
  font-family: "GFS Didot", serif;
  margin: 25px;
  text-align: center;
}

footer a {
  color: #b9a066;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

footer a:hover {
  color: #fdffe0;
}

.homepage-header {
  letter-spacing: 0.2rem;
}

.hero-homepage {
  padding-bottom: 75px;
  padding-top: 15px;
}

.logo {
  max-width: 20%;
  height: auto;
}

.entry-examples {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 14px;
}

.type-id h5 {
  font-size: 14px;
  text-align: end;
}

.data-info h3 {
  font-size: 30px;
  text-align: center;
}

.data-info p {
  text-align: justify;
}

.data-info h4 {
  font-size: 25px;
}

#item-image {
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

#entry-input {
  width: 50%;
}

.content-header {
  padding-bottom: 45px;
}

/* Creatures Page */
#creature-container {
  background-color: #fdffe0;
  padding: 5px;
}

#creature-container ul {
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #526f50;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 25px;
}

#creature-container ul:last-child {
  border-bottom: none;
}

#creature-container h5 {
  font-size: 30px;
  color: #b9a066;
}

/* Monsters Page */
#monster-container {
  background-color: #fdffe0;
  padding: 5px;
}

#monster-container ul {
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #526f50;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 25px;
}

#monster-container ul:last-child {
  border-bottom: none;
}

#monster-container h5 {
  font-size: 30px;
  color: #b9a066;
}

/* Materials Page */
#material-container {
  background-color: #fdffe0;
  padding: 5px;
}

#material-container ul {
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #526f50;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 25px;
}

#material-container ul:last-child {
  border-bottom: none;
}

#material-container h5 {
  font-size: 30px;
  color: #b9a066;
}

/* Equipment Page */
#equipment-container {
  background-color: #fdffe0;
  padding: 5px;
}

#equipment-container ul {
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #526f50;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 25px;
}

#equipment-container ul:last-child {
  border-bottom: none;
}

#equipment-container h5 {
  font-size: 30px;
  color: #b9a066;
}

/* Treasure Page */
#treasure-container {
  background-color: #fdffe0;
  padding: 5px;
}

#treasure-container ul {
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #526f50;
  padding-bottom: 10px;
  padding-left: 0px;
  margin: 25px;
}

#treasure-container ul:last-child {
  border-bottom: none;
}

#treasure-container h5 {
  font-size: 30px;
  color: #b9a066;
}
